* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-weight: bold;
}



.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
    background-color: #e2e8f0ff;
}

/* Side Bar */

.sidebar {
    color: white;
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #1893d3ff;
    padding: 25px;
}

.link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 0.8em;
}

.main-links, .secondary-links {
    display: grid;
    gap: 1.5rem;
    margin-top: 50px;
}


/* Header */

.header {
    grid-column: 2 / 3;
    padding: 20px 40px;
    display: grid;
    gap: 2rem;
    background-color: white;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5);
}

.upper-header {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.upper-left, .upper-right {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.upper-left .search-bar {
    border-style: none;
    background-color: #e2e8f0ff;
    border-radius: 20px;
    width: 70%;
    height: 30px;
}

.upper-right {
    justify-content: end;
}

.lower-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.tasks {
    list-style: none;
    display: flex;
    gap: 1.2rem;
}

.tasks li {
    background-color: #1893d3ff;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 100px;
    height: 20px;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: 500;
}



/* Main Content */

.main-content {
    grid-column: 2 / 3;
    grid-row: 2;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.project-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    list-style: none;
}

.projects li {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 380px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.projects li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #f0b429ff;
}

.project p {
    margin-top: 5px;
    font-weight: 400;
}

.interact {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

