* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

/* Side Bar */

.sidebar {
    color: white;
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #1893d3ff;
    padding: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8em;
}



/* Header */

.header {
    grid-column: 2 / 3;
    border: 1px solid blue;
}

/* Main Content */

.main-content {
    grid-column: 2 / 3;
    border: 1px solid red;
    height: 600px;
}